## Import Necessary Libraries

In [1]:
import sys
import os
root_dir = os.getcwd()
sys.path.insert(1, root_dir)
sys.path.append('../modules/')
import pandas as pd
import numpy as np
import ensemble_trading_strategy as ets

In [8]:
# filtering warnings
import warnings
warnings.filterwarnings('ignore')

## Load a stock price dataframe

In [2]:
stock_price = pd.read_csv("../data/S & P 50/GOOGL.csv")
stock_price.head()

,date,open,high,low,close,volume
0,2018-01-02 00:00:00.000000,52.651001,53.799000,52.651001,53.660500,31766000.0
1,2018-01-03 00:00:00.000000,53.696499,54.805000,53.671501,54.576000,31318000.0
2,2018-01-04 00:00:00.000000,54.854500,55.203999,54.713001,54.787998,26052000.0
3,2018-01-05 00:00:00.000000,55.172501,55.679001,55.090000,55.514500,30250000.0
4,2018-01-08 00:00:00.000000,55.549999,55.958000,55.500000,55.710499,24644000.0

### To generate trading signal, dataframe should contain at least 35 days historical stock price data

In [21]:
# Getting last 30 day prices
df = stock_price.tail(35)

## Get signal from ensemble trading signal module

In [22]:
signal = ets.group3_ensemble_model_signals(df)
signal

0