In [54]:
import numpy as np
import pandas as pd
import indicators as ind
import matplotlib.pyplot as plt
import pandas_ta as ta
import warnings
warnings.filterwarnings('ignore')
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Function that returns technical indicators value

In [25]:
def add_features(df:pd.DataFrame):
    df['sma_16'] = ta.sma(df.close, length=16)
    df['ema_16'] = ta.ema(df.close, length=16)
    a = ta.macd(df.close)
    df.join(a)
    a = ta.adx(df.high,df.low,df.close)
    df.join(a)
    df['rsi_16'] = ta.rsi(df.close, length=16)
    a = ta.bbands(df.close)
    df.join(a)
    df["cci_16"] = ta.cci(df.high, df.low, df.close, length=16)
    df["atr"] = ta.atr(df.high, df.low, df.close, length=16)
    a = ta.stoch(df.high, df.low, df.close)
    df = df.join(a)
    a = ta.stochrsi(df.close, length=16)
    df = df.join(a)
    df["wpr"] = ta.willr(df.high, df.low, df.close, length=16)
    df['returns'] = df.close.pct_change(periods=2).mul(100)
    df['target_signal'] = np.where((df.returns > 2), -1, 0)
    df['target_signal'] = np.where((df.returns < -2), 1, df['target_signal'])
    return df

In [5]:
stock_data = pd.read_csv('../data/S & P 50/AAPL.csv')
stock_data.head()

,date,open,high,low,close,volume
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0

In [26]:
new_df = get_ta_values(stock_data)

In [37]:
new_df.head(20)

,open,high,low,close,volume,sma_16,ema_16,rsi_16,cci_16,atr,STOCHk_14_3_3,STOCHd_14_3_3,STOCHRSIk_16_14_3_3,STOCHRSId_16_14_3_3,wpr,returns,target_signal
date,,,,,,,,,,,,,,,,,
2018-02-20,43.012501,43.564999,42.855000,42.962502,135722000.0,41.139844,41.785292,55.079390,115.333815,1.092941,92.585331,86.851565,97.747230,94.837429,-12.082998,-0.658997,0
2018-02-21,43.207500,43.529999,42.752499,42.767502,149886400.0,41.188437,41.900846,53.840908,100.650686,1.070754,87.645762,89.917186,95.130542,97.382006,-15.256305,-0.788717,0
2018-02-22,42.950001,43.487499,42.927502,43.125000,123967600.0,41.274844,42.044864,55.785095,96.255793,1.046274,87.740700,89.323931,94.910879,95.929551,-9.438597,0.378233,0
2018-02-23,43.417500,43.912498,43.384998,43.875000,135249600.0,41.400938,42.260174,59.593541,108.381565,1.028345,91.571601,88.986021,96.431894,95.491105,-0.590295,2.589579,-1
2018-02-26,44.087502,44.847500,44.052502,44.742500,152648800.0,41.575781,42.552212,63.475092,124.071017,1.024501,96.176764,91.829688,99.048582,96.797118,-1.440817,3.750725,-1
2018-02-27,44.775002,45.119999,44.540001,44.597500,155712400.0,41.855313,42.792835,62.406256,112.052327,0.994103,97.019174,94.922513,99.174987,98.218488,-6.911366,1.646723,0
2018-02-28,44.814999,45.154999,44.512501,44.529999,151128400.0,42.193281,42.997207,61.888781,98.700140,0.970199,94.472905,95.889614,97.584460,98.602676,-8.229101,-0.474943,0
2018-03-01,44.634998,44.945000,43.165001,43.750000,195208000.0,42.380312,43.085771,56.149955,62.574562,1.024954,88.786844,93.426308,90.230555,95.663334,-18.499003,-1.900330,0
2018-03-02,43.200001,44.075001,43.112499,44.052502,153816000.0,42.640781,43.199504,57.769884,49.498274,1.020753,84.729766,89.329838,85.282463,91.032492,-14.516096,-1.072304,0
2018-03-05,43.802502,44.435001,43.630001,44.205002,113605600.0,42.979375,43.317798,58.592461,62.043787,1.006308,80.795612,84.770741,81.472480,85.661833,-12.508193,1.040004,0
2018-03-06,44.477501,44.562500,44.032501,44.167500,95154000.0,43.295938,43.417763,58.294610,68.652516,0.974559,79.539926,81.688435,79.775957,82.176967,-17.092154,0.261047,0
2018-03-07,43.735001,43.962502,43.567501,43.757500,126814000.0,43.488438,43.457732,55.032270,24.875934,0.949696,69.865225,76.733588,68.675624,76.641353,-29.467559,-1.012334,0
2018-03-08,43.869999,44.279999,43.767502,44.235001,95096400.0,43.685313,43.549175,57.955288,45.710025,0.921448,63.777958,71.061036,59.239204,69.230262,-20.744051,0.152830,0
2018-03-09,44.490002,45.000000,44.347500,44.994999,128740800.0,43.882344,43.719272,62.134040,114.533863,0.911141,68.980070,67.541084,62.586264,63.500364,-5.507742,2.828085,-1
2018-03-12,45.072498,45.597500,45.052502,45.430000,128828400.0,44.018750,43.920534,64.300281,161.113751,0.890875,83.053136,71.937055,79.459702,67.095057,-5.887503,2.701480,-1
2018-03-13,45.647499,45.875000,44.810001,44.992500,126774000.0,44.136563,44.046648,60.582199,124.407268,0.902272,85.837380,79.290195,81.142822,74.396262,-28.262588,-0.005553,0
2018-03-14,45.080002,45.130001,44.452499,44.610001,117473600.0,44.239532,44.112925,57.482473,58.538144,0.887603,72.793347,80.561288,62.793753,74.465426,-40.512373,-1.804974,0
2018-03-15,44.625000,45.060001,44.517502,44.662498,90975200.0,44.357969,44.177580,57.798588,51.744831,0.865143,60.125366,72.918698,38.578090,60.838222,-41.136632,-0.733460,0
2018-03-16,44.662498,44.779999,44.404999,44.505001,157618800.0,44.444219,44.216100,56.455383,18.737814,0.833326,53.574675,62.164463,22.495260,41.289034,-49.592708,-0.235372,0
2018-03-19,44.330002,44.367500,43.415001,43.825001,133787200.0,44.441094,44.170089,50.997338,-91.630246,0.849947,44.102583,52.600875,13.214364,24.762571,-74.208097,-1.875170,0

In [29]:
new_df['target_signal'] = np.where((new_df.returns > 2), -1, 0)
new_df['target_signal'] = np.where((new_df.returns < -2), 1, new_df['target_signal'])

In [33]:
new_df['target_signal'].value_counts()

 0    714
-1    295
 1    217
Name: target_signal, dtype: int64

In [32]:
new_df.dropna(inplace=True)

In [36]:
new_df.index = pd.to_datetime(new_df['date'])
new_df.drop('date',axis=1,inplace=True)

## Data Preprocessing

In [38]:
X = new_df.drop(['returns','target_signal'],axis=1)
y = new_df['target_signal']

In [39]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [40]:
X_scaled[:3]

array([[-1.22893437, -1.22751541, -1.22322327, -1.2312537 ,  0.37046771,
        -1.25805351, -1.24588877, -0.01576356,  0.79805383, -1.01492748,
         1.11775013,  0.94423046,  1.33058779,  1.28834922,  0.8763833 ],
       [-1.22469376, -1.22826693, -1.22548232, -1.23549369,  0.63210945,
        -1.25699751, -1.24337339, -0.11931459,  0.66434701, -1.02988278,
         0.94831221,  1.05228156,  1.25149807,  1.36820708,  0.77521276],
       [-1.23029354, -1.22917949, -1.22162538, -1.22772041,  0.15334298,
        -1.25511979, -1.24023842,  0.04324126,  0.62432645, -1.04638308,
         0.95156879,  1.03137166,  1.2448587 ,  1.32262387,  0.96069143]])

## Random Forest Classifier

In [43]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [44]:
X_test.shape[0]/X_train.shape[0]

0.3340587595212187

In [45]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=10)
rf_model.fit(X_train, y_train)

predictions = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy}')

Accuracy: 0.7231270358306189

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=LogisticRegression()
                             ,n_estimators=100
                             ,max_samples=0.8
                             ,oob_score=True
                             ,random_state=10)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.7986942328618063

In [59]:
predictions = bag_model.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy}')

Accuracy: 0.7817589576547231

In [62]:
import joblib

# Saving the trained model to a file
joblib.dump(bag_model, 'bagging_logistic_regression.pkl')

['bagging_logistic_regression.pkl']

In [52]:
from sklearn.tree import DecisionTreeClassifier

bag_model = BaggingClassifier(base_estimator=DecisionTreeClassifier()
                             ,n_estimators=100
                             ,max_samples=0.8
                             ,oob_score=True
                             ,random_state=10)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.7475516866158868